* {
    /* SOurce https://www.colorhexa.com/3e6bbe */
    shadow-color : #dfe7f5;
    background-color : #fdfdfe;
    background-color-accent: #d0dbf0;
    box-color: #eef2f9;

    accent-color: #4b76c4;
    accent-color-2:#264174;
    dark-color: #04070d;

    background-ligth-1: #86a3d8;
    background-ligth-1-over: #86a3d8;
    background-strong-1: #6bbe3e;
    background-strong-1-over: #5aa034;
    background-strong-2: #be3e6b;
    background-strong-2-over: #a0345a;
    
}